In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("../input/ecs_fortinet_060324.xlsx")
df.head()

  Contact/First Name Contact/Last Name Contact/Mobile
0               Agus               NaN   0812 3216266
1               Agus           Adianto   081 23216266
2                  M       Ichwannudin  0856 54005566
3              Wawan               NaN  0856 54005566
4               Heru          Siswanto  0817 03410626

In [3]:
# Remove all whitespaces
df["Contact/Mobile"] = df["Contact/Mobile"].str.replace(" ", "")
# Add +62 prefix to all Contact/Mobile numbers
# Remove the first "0" if it exists
df["Contact/Mobile"] = df["Contact/Mobile"].str.lstrip("0")

# Add +62 prefix to all Contact/Mobile numbers
df["Contact/Mobile"] = "+62" + df["Contact/Mobile"]
df.head()

  Contact/First Name Contact/Last Name  Contact/Mobile
0               Agus               NaN   +628123216266
1               Agus           Adianto   +628123216266
2                  M       Ichwannudin  +6285654005566
3              Wawan               NaN  +6285654005566
4               Heru          Siswanto  +6281703410626

In [4]:
df.to_excel("../input/ecs_fortinet_060324_fixed_df.xlsx", index=False)